<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.kuchanov.odnako"
    android:versionCode="302"
    android:versionName="3.02" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- These is need for removing lint -->
    <!-- warning : Exported receiver does not require permission -->
    <!-- @see http://stackoverflow.com/a/17597416/3212712 -->
    <permission
        android:name="ru.kuchanov.odnako.LINT_PREVENT_PERMISSION"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.yourpage.permission.YOUR_PERMISSION" />

    <!-- for overscreen icon -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <!-- other -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeDark" >

        <!-- adMob -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- end of adMob -->
        <activity
            android:name="ru.kuchanov.odnako.activities.ActivityMain"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.kuchanov.odnako.activities.ActivityArticle"
            android:label="@string/app_name"
            android:launchMode="singleTask" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.kuchanov.odnako.activities.ActivityMain" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.kuchanov.odnako.activities.ActivityDownloads"
            android:label="@string/downloads"
            android:launchMode="singleTask" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.kuchanov.odnako.activities.ActivityPreference"
            android:enabled="true"
            android:label="@string/settings_title" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

        <service
            android:name="ru.kuchanov.odnako.db.ServiceDB"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_db" />
        <service
            android:name="ru.kuchanov.odnako.db.ServiceRSS"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_rss" />
        <service
            android:name="ru.kuchanov.odnako.db.ServiceArticle"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_article" />
        <service
            android:name="ru.kuchanov.odnako.db.ServiceComments"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_comments" />
        <service
            android:name="ru.kuchanov.odnako.utils.ServiceTTS"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_tts" />

        <receiver
            android:name="ru.kuchanov.odnako.receivers.ReciverBoot"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ru.kuchanov.odnako.receivers.ReceiverTimer"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="ru.kuchanov.odnako.RECEIVER_TIMER" />
            </intent-filter>
        </receiver>
        <receiver android:name="ru.kuchanov.odnako.receivers.ReceiverPhone" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="ru.kuchanov.odnako.db.ContentProviderOdnakoDB"
            android:authorities="ru.kuchanov.odnako.db.ContentProviderOdnakoDB"
            android:exported="true"
            android:grantUriPermissions="true" >
        </provider>

        <!-- start of Yandex Metrica -->

        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="true"
            android:permission="ru.kuchanov.odnako.LINT_PREVENT_PERMISSION"
            android:process=":Metrica" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.yandex.metrica.IMetricaService" />

                <data android:scheme="metrica" />
            </intent-filter>

            <meta-data
                android:name="metrica:api:level"
                android:value="16" />
        </service>

        <receiver
            android:name="com.yandex.metrica.MetricaEventHandler"
            android:enabled="true"
            android:exported="true"
            android:permission="ru.kuchanov.odnako.LINT_PREVENT_PERMISSION" >
            <intent-filter>
                <action android:name="com.yandex.metrica.intent.action.SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>

            <!-- Необходимо для трэкинга кампаний -->
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name="ru.kuchanov.odnako.utils.MetricaContentProvider"
            android:authorities="ru.kuchanov.odnako.MetricaContentProvider"
            android:enabled="true"
            android:exported="true" />

        <!-- end of Yandex Metrica -->
    </application>

</manifest>